 body {
    font-family: monospace, 'Montserrat', sans-serif;
}

p, li {
    font-size: 15px;
    color: #475550;
}

h1, h3, .h-green {
    color: #11a36a;
}

.hero-title {
    color: #0a7e51;
    line-height: 55px;
    font-weight: 600;
    font-size: 45px;
}

.section-title {
    line-height: 42px;
    font-weight: 600;
    font-size: 28px;
}